.touch-nav {
    font-family: $secondary-font;
    position: fixed;
    z-index: $z-high-Index;
    width: 100%;
    background-color: #ffffff;
    min-height: 65px;

    @include phablet {
        min-height: 65px;
    }

    @include tablet {
        min-height: 70px;
    }

    .touch-nav__show {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }

    .touch-nav__menu-link {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: -330px;
        z-index: -5;
        opacity: 0;
        transition: all cubic-bezier(0.55, 0.06, 0.68, 0.19) .7s;

        ul {
            width: 85%;
            text-align: center;
            border-top: 1px solid #fff;
            transition: border-top linear 1s;

            li {
                padding: 5px;
                font-size: 100%;

                @include phablet {
                    font-size: 105%;
                }

                @include tablet {
                    font-size: 110%;
                }
            }
        }

        &.hidden-toggle {
            opacity: 1;
            margin-top: 0;
            padding: 10px 0;
            z-index: 1;
            transition-timing-function: linear, step-end, step-end;
            box-shadow: 0px 0px 7px -1px #969595;
            border-bottom: 1px solid $primary-color;

            ul {            
                li {
                    a {
                        color: #333;
                    }
                }
            }
        }

    }

    .touch-nav__logo {
        img {
            height: 46px;
            width: auto;

            @include tablet {
                height: 51px;
            }
        }
    }

    .touch-nav__hamburger-menu {

        li {
            font-size: 180%;
            padding-left: 10px;

            @include phablet {
                font-size: 190%;
            }

            @include tablet {
                font-size: 200%;
            }
        }
    }
}

.home-menu {
    display: flex;
    align-items: center;
    li {
        vertical-align: middle;
        font-size: 105%;

        @include phablet {
            font-size: 110%;
        }

        @include tablet {
            font-size: 115%;
        }
    }
}

.touch-nav--sticky {
    box-shadow: 0px 0px 5px 1px #a8a8a8;
}

.desktop-nav {
    position: fixed;
    z-index: $z-high-Index;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;

    .desktop-nav__logo { 
        flex: 1; 
        padding-left: 25px;

        img {
            @include smallLaptop {
                height: 51px;
            }
        }
    }

    .desktop-nav__menu-link {
        flex: 2;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding-right: 25px; 
            li {
                @include smallLaptop {
                    font-size: 120%;
                    font-family: $secondary-font;
                    word-spacing: 3px;
                    padding: 0 15px;
                    
                    &:last-child {
                        padding-right: 0;
                    }
                }

                @include laptop {
                    font-size: 125%;
                }

                a {
                    &:hover {
                        text-decoration: none;
                    }

                    &:focus {
                        outline: none;
                        text-decoration: none;
                    }
                }

                &:after{
                    content: "";
                    display: block;
                    margin: auto 0;
                    width: 0;
                    padding-top: 5px;
                    border-bottom: 2px solid #0056b3;
                    transition: width .6s ease-in-out;
                }

                &:hover {
                    &:after {
                        width: 40px;
                    }
                }
            }
        }
    }
}

