/*
Header Start
------------*/
@mixin home-page-list($color, $content) {
    list-style: none;
    font-family: $secondary-font;
    font-size: 110%;
    word-spacing: 2px;

    @include phablet {
        font-size: 115%;
    }

    @include tablet {
        font-size: 120%;
    }

    @include smallLaptop {
        font-size: 125%;
    }

    @include laptop {
        font-size: 130%;
    }

    @include desktop {
        font-size: 135%;   
    }

    li {
        padding: 1px 0;
        &::before{
            font-family: ionicons;
            content: $content;
            color: $color;
            margin-right: 8px;
        }
    }

}

@mixin home-page-title-border($color, $width) {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: $width; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid $color; /* This creates the border. Replace black with whatever color you want. */
}

#header {
    background-image: linear-gradient(to bottom, #67809F, #054135);
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;

    .particles-js-canvas-el {
        position: absolute;
        width: 100%;
        top: 12vh;
        height: 80vh !important;
    }

    .hero-text-box {
        position: absolute;
        top: 55%;
        left: 12%;
        transform: translate(-7%, -55%);
        color: #fff;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 20px;
        border-radius: 10px;
        transition: all .6s ease-in-out;

        @include phablet {
            padding: 35px 20px;
        }
        
        @include tablet {
            padding: 55px 30px;
            left: 20%;
        }

        @include smallLaptop {
            padding: 50px 40px;
            left: 35%;
            transform: translate(-35%, -55%);
        }

        @include laptop {
            padding: 60px 45px;
        }

        .hero-text-box__title {
            font-size: 220%;
            word-spacing: 5px;
            font-weight: bold;
            color: #fff;

            @include phablet {
                font-size: 230%;
            }

            @include tablet {
                font-size: 240%;
            }

            @include smallLaptop {
                font-size: 250%;
            }

            @include laptop {
                font-size: 260%;
            }

            @include desktop {
                font-size: 265%;
            }
        }

        .hero-text-box__sub-title {
            font-family: $secondary-font;
            margin-top: 20px;
            font-size: 140%;
            word-spacing: 3px;
            color: #ECF0F1;
            
            @include phablet {
                font-size: 145%;
            }

            @include tablet {
                font-size: 150%;
                margin-top: 30px;
            }

            @include smallLaptop {
                font-size: 155%;
                margin-top: 40px;
            }

            @include laptop {
                font-size: 160%;
                margin-top: 45px;
            }

            @include desktop {
                font-size: 165%;
                margin-top: 50px;
            }
        }

        .hero-text-box__details{
            @include home-page-list(#60ba74, "\f120");
            margin-top: 30px;

            @include tablet {
                margin-top: 40px;
            }

            @include smallLaptop{
                margin-top: 50px;
            }

            @include laptop {
                margin-top: 55px;
            }

            @include desktop {
                margin-top: 60px;
            }

            li {
                padding: 2.5px 0;
                color: #ecf0f1;
            }
        }

        .hero-btn {
            @include primary-button (darken($primary-color, 15), #ffffff, darken($primary-color, 20), 110% );
            box-shadow: none;
            font-weight: bold;
            display: inline-block;
            margin-top: 35px;

            @include tablet {
                margin-top: 45px;
            }

            @include smallLaptop {
                margin-top: 55px;
            }

            @include laptop {
                margin-top: 60px;
            }

            @include desktop {
                margin-top: 65px;
            }
        }

    }

    .contact {
        color: #fff;
        position: absolute;
        bottom: 3%;
        left: 7%;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 100%;

        @include phablet {
            font-size: 105%;
        }

        @include tablet {
            font-size: 110%;
            left: 3%;
        }

        @include smallLaptop {
            font-size: 115%;
        }

        @include laptop {
            font-size: 120%;
        }

        @include desktop {
            font-size: 125%;
        }

        i {
            font-size: 200%;
            vertical-align: middle;

            @include phablet {
                font-size: 210%;
            }

            @include tablet {
                font-size: 220%;
            }

            @include smallLaptop {
                font-size: 230%;
            }

            @include laptop {
                font-size: 240%;
            }

            @include desktop {
                font-size: 250%;
            }
            
            &::before {
                animation: mobile-ringing 1.9s ease infinite;
            }
        }
    }
}
/*
Header End
------------*/

/*
Features Section Start
-------------------------*/

#features-section {
    padding: 50px 0 25px 0;
    
    .features {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border: 1px solid #ececec;
        border-radius: 5px;
        padding: 0 10px;
        margin-bottom: 25px;
        min-height: 200px;

        @include tablet {
            min-height: 280px;
        }

        @include laptop {
            min-height: 250px;
        }

        .features__title {
            @include home-page-title(160%);
            vertical-align: middle;

            img {
                width: 42px;
                height: auto;
                margin-right: 5px;

                @include phablet {
                    width: 47px;
                }

                @include tablet {
                    width: 42px;
                }

                @include smallLaptop {
                    width: 52px;
                }
            }
        }

        .features__description {
            font-family: $secondary-font;
            padding: 20px 0;
            word-spacing: 2px;
            line-height: 140%;
            font-size: 105%;
            color: #4d4b4b;

            @include phablet {
                font-size: 110%;   
            }

            @include tablet {
                font-size: 115%;
                text-align: center;
                padding: 35px 0;
            }

            @include smallLaptop {
                font-size: 125%;
            }

            @include laptop {
                font-size: 130%;
                padding: 30px 20px;
            }

            @include desktop {
                font-size: 135%;
            }
        }
    }
}

/*
Features Section End
-------------------------*/

/*
Customer In Numbers Section Start
---------------------------------*/
#customer-in-numbers {
    height: 200px;
    background-image: linear-gradient(to left top, rgba(82, 90, 119, 0.9), rgba(29, 130, 125, .7)), url(../images/clouds.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .customer-number {
        height: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        flex-direction: row;
        flex-flow: row wrap;

        @include tablet {
            flex-flow: nowrap;
            align-items: center;
            justify-content: center;
        }

        .customer-number__text {
            flex: 2 50%;
            text-align: center;
            align-self: center;
            color: #ffffff;
            font-size: 140%;
            font-weight: bold;

            @include phablet {
                font-size: 150%;
            }

            @include tablet {
                font-size: 160%;
                flex: 1;
            }

            @include smallLaptop {
                font-size: 170%;   
            }

            @include laptop {
                font-size: 180%;
            }

            @include desktop {
                font-size: 190%;
            }
    
            &.customer-number__text--last {
                flex: 1 100%;
                text-align: center;

                @include tablet {
                    flex: 1;
                }
            }
        }
    }
}

/*
Customer In Numbers Section End
---------------------------------*/

/*
Plans Section Start
---------------------*/
#plans {
    background-color: #ffffff;
    padding: 50px 0 0 0;

    h1 {
        @include home-page-title(170%);
        padding: 0 0 50px 0;

        &:after {
            @include home-page-title-border(#555, 76%);

            @include phablet {
                width: 66%;
            }
    
            @include tablet {
                width: 38%;
            }
    
            @include smallLaptop {
                width: 29%;
            }
     
            @include desktop {
                width: 21%;
            }
        }
    }

    .pricing-box {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        border: 2px solid #ccf4db;
        border-radius: 5px;
        margin-bottom: 65px;
        transition: all .5s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 10px 1px #cbcbcb;
            border: 2px solid $primary-color;
            .pricing-box__button {
                .pricing-box__btn {
                    box-shadow: 0px 2px 15px -2px #646464;
                }
            }
        }

        .pricing-box__title {
            @include home-page-title(150%);
            padding-top: 0;
            font-family: $secondary-font;
            color: darken($primary-color, 12);
            font-weight: lighter;
        }

        .pricing-box__price {
            @include home-page-title(190%);
            padding: 25px 0;
            font-family: $secondary-font;
            color: $secondary-color;
            font-weight: bold;

            span {
                font-size: 80%;
                vertical-align: text-top;
                margin-right: 3px;
            }
        }

        .pricing-box__details {
            @include home-page-list($primary-color, "\f121");
            align-self: center;
        }

        .pricing-box__button {
            align-self: center;
            padding-top: 30px;
            margin-bottom: -38px;

            .pricing-box__btn {
                @include primary-button ($primary-color, #ffffff, darken($primary-color, 10), 110% );
                box-shadow: none;
                font-weight: bold;
            }
        }

    }
}
/*
Plans Section End
---------------------*/


/*
Domain Search Section Start
-----------------------------*/

#domain-search {
    background-image: linear-gradient(to right bottom, #719280, #756f52);
    padding: 50px 0;

    @include phablet {
        padding: 60px 0;
    }

    @include tablet {
        padding: 80px 0;
    }

    @include smallLaptop {
        padding: 100px 0;
    }

    .search-area__title {
        @include home-page-title(170%);
        padding: 0;
        color: #fff;
        margin-bottom: 25px;

        @include tablet {
            margin-bottom: 35px;
        }

        &:after {
            @include home-page-title-border(#fff, 54%);

            @include phablet {
                width: 48%;
            }
    
            @include tablet {
                width: 27%;
            }
    
            @include smallLaptop {
                width: 0;
            }
        }

        @include smallLaptop {
            padding: 0;
            text-align: left;
            margin: 0;
        }
    }


    .search-area__form {
        form { 
            input {
                width: 100%;
                padding: 12px 34px;
                border-radius: 100px;
                border: 0;
                box-shadow: 0px 2px 10px 1px #636363;
                transition: box-shadow 1s ease-in-out;
                margin-bottom: 25px;
                font-size: 17px;
                font-family: $secondary-font;
    
                &:focus {
                    outline: none;
                }
    
                &:hover {
                    box-shadow: 0px 2px 10px 4px #636363;
                }

                @include tablet {
                    margin-bottom: 35px;
                    font-size: 19.5px;
                }

                @include smallLaptop {
                    margin-bottom: 0;
                    font-size: 21px;
                }
            }
    
            .search-btn {
                @include primary-button(#049372, #fff, darken(#049372, 10%), 110%);
                width: 100%;
                padding: 12px 34px;
                border-radius: 100px;
                font-weight: bold;
                box-shadow: 1px 4px 10px -3px #4f4f4f;

                @include tablet {
                    padding: 12px 34px;
                }

                @include laptop {
                    padding: 12px 34px;
                }

            }
        }
    }

}

/*
Domain Search Section End
---------------------------*/

/*
Testimonial Section Start
--------------------------*/
#testimonials {
    background-color: #fff;
    color: #555;
    height: 373px;
    width: 100%;

    @include smallLaptop {
        height: 390px;
    }

    h1 {
        @include home-page-title(170%);
        padding: 35px 0 0 0;

        &:after {
            @include home-page-title-border(#555, 50%);

            @include phablet {
                width: 44%;
            }
    
            @include tablet {
                width: 26%;
            }
    
            @include smallLaptop {
                width: 20%;
            }
       
            @include desktop {
                width: 17%;
            }
        }
    }

    .client-review {
        .client-review__quote {
            padding: 30px 10px;
            margin-bottom: 0;
            text-align: center;
            font-family: $secondary-font;
            word-spacing: 3px;
            line-height: 145%;
            font-size: 105%;
            border: none;

            @include phablet {
                font-size: 110%;
            }

            @include tablet {
                font-size: 115%;
            }

            @include smallLaptop {
                font-size: 120%;
                padding-top: 40px;
                padding-bottom: 60px;   
            }

            @include laptop {
                font-size: 125%;
            }

            cite {
                display: block;
                padding: 25px 0 0 0;

                img {
                    display: inline-block;
                    height: 45px;
                    border-radius: 50%;
                    margin-right: 10px;
                    vertical-align: middle;

                    @include phablet {
                        height: 50px;
                    }

                    @include tablet {
                        height: 55px;
                    }
                }
            }
        }
    }

    .carousel-indicators {
        bottom: -10px;
        
        li {            
            background-color: #95A5A6;
        }
        .active {
            background-color: $primary-color;
        }
    }
}

/*
Testimonial Section End
-------------------------*/