/* Colors
---------------------------*/
$font-color: #555;
$link-color : #0056b3;
$body-color: #fafafa;            


$primary-color: #26C281;             
$secondary-color: #EB7A3F;

/* Fonts
---------------------------*/
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto Slab', serif;


/* z-index
---------------------------*/
$z-low-index: 1;
$z-mid-index: 5;
$z-high-Index: 9;


